Report requirements:
T - create a console application performing CRUD operations on a database schema composed of at least two tables connected with a relationship; the schema should be designed on your own,
T - primary key values should be generated automatically,
T - respective CRUD operations should be done in separate methods,
T - retrieve operation should include finding by id (using find method), finding all records (using @NamedQuery) and finding records by one of class fields (using @NamedQuery, query string or CriteriaQuery),
T - data constituting the contents of entity classes should be provided by the user,
T - erroneous data should be detected and corrected before performing database operations,
T - classes responsible for database cooperation and user interface should be independent of each other,
T - class fields should be private,
T - all identifiers should be written in English, according to the Java naming convention,
T - report should contain Javadoc documentation for all created elements (classes, fields, methods),
