Report requirements:
- create a console application performing CRUD operations on a database schema composed of at least two tables connected with a relationship; the schema should be designed on your own,
+ primary key values should be generated automatically,
+ respective CRUD operations should be done in separate methods,
- retrieve operation should include finding by id (using find method), finding all records (using @NamedQuery) and finding records by one of class fields (using @NamedQuery, query string or CriteriaQuery),
- data constituting the contents of entity classes should be provided by the user,
- erroneous data should be detected and corrected before performing database operations,
- classes responsible for database cooperation and user interface should be independent of each other,
- class fields should be private,
- all identifiers should be written in English, according to the Java naming convention,
- report should contain Javadoc documentation for all created elements (classes, fields, methods),
